# ===== STM32CubeIDE =====
.settings/

# ===== Build output =====
Debug/
Release/

# ===== Debug / IDE artifacts =====
*.launch
.stm32.ctb*

# ===== Editor / OS =====
.DS_Store
Thumbs.db
*.swp
*.tmp
*.bak

# ===== Optional logs =====
devlog.txt
sending.txt
